header {
    nav {
        .btnLog {
            align-items: center;
        }
        .login-icon-dropdown {
            display: none;
        }
        @media (min-width: 576px) {
            .login-icon-dropdown {
                display: none;
            }
        }
        @media (max-width: 576px) {
            .login-icon-dropdown {
                display: block;
            }
            .login-icon-col {
                display: none;
            }
        }
        @media (min-width: 1200px) {
            .login-icon-dropdown {
                display: none;
            }
            .login-icon-col {
                display: block;
            }
        }
    }
}

@media (min-width: 360px) {
    .margin-card {
        padding-top: 2%;
    }
}

@media (min-width: 1200px) {
    .margin-card {
        padding-top: 2%;
    }
}

.titleSection {
    width: 100%;
    height: 100vh;
    .col-sm-6 {
        display: flex;
        justify-content: center;
        align-items: baseline;
        flex-direction: column;
        h1 {
            font-size: 60px;
            font-weight: 900;
            margin-bottom: 5%;
        }
        button {
            transition: all .3s;
        }
        button:hover {
            transform: scale(1.1);
        }
    }
}

@media (max-width: 576px) {
    .titleSection {
        margin-top: 9.5%;
    }
}

@media (min-width: 1200px) {
    .titleSection {
        margin-top: 2%;
    }
}

.margin-card {
    img {
        width: 100%;
        height: 70%;
    }
}

@media (min-width: 1200px) {
    .margin-form {
        margin-top: 8%;
    }
}

@media (max-width: 576px) {
    .margin-form {
        margin-top: 20%;
    }
}

.scrollAble {
    max-height: 65vh;
}

@media (max-width: 576px) {
    .scrollAble {
        margin-top: 5%;
    }
}

.formInputStock {
    height: 77vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 576px) {
    .formInputStock {
        margin-top: 5%;
    }
}

.buttonFormStock {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        margin-top: 2%;
    }
}

.loginForm {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: -60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba($color: #000000, $alpha: 0.7);
    margin-top: 2%;
    transition: all 1s;
    z-index: 9999 !important;
    .logWrap {
        height: 75%;
    }
    @media (max-width: 576px) {
        .logWrap {
            width: 100%;
            height: 100%;
        }
    }
    .closeBtn {
        position: absolute;
        top: 15%;
        right: 8%;
    }
}

@media (max-width: 576px) {
    .loginForm {
        margin-top: 9.5%;
    }
}

.detailCard {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    z-index: 999;
    visibility: hidden;
    margin-top: 2%;
    .detailCardWrapper {
        width: 58%;
        height: 85vh;
        background-color: white;
        border-radius: 10px;
        .pargrph {
            max-width: 85%;
            max-height: 35vh;
        }
    }
}

.text-indent {
    text-indent: 5%;
    text-align: justify;
}

.logout {
    color: #198754;
}

.logout:hover {
    color: white;
}