<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dinamika WebApp</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script> !-->
    <link rel="stylesheet" href="{{url_for('static', filename = 'bootstrap/css/bootstrap.min.css')}}">
    <script src="{{url_for('static', filename = 'bootstrap/js/bootstrap.bundle.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
    <script src="https://kit.fontawesome.com/9f19fe83e1.js" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename = 'main.js')}}"></script>
</head>

<body>

    <header id="home">
      <nav class="navbar navbar-dark bg-dark fixed-top" aria-label="Dark offcanvas navbar">
        <div class="container-fluid d-flex justify-content-between">
          <div>
            <a class="navbar-brand fs-3" href="/">Dinamika WebApp</a>
          </div>
          <div class=" d-flex justify-content-between">
            <div class="login-icon-col ms-3">
              <button class="btn w-100 h-75 btn-outline-success  border-0 rounded-2 pe-2 ps-2 pt-1 pb-1 fs-5 text-uppercase fw-bold" onclick="login()">
                <i class="fa-solid fa-right-to-bracket"></i>
                Login
              </button>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <div class="titleSection bg-dark text-white">
      <div class="container vw-100 vh-100">
        <div class="row vh-100">
          <div class="col-sm-6">
            <h1>Dinamika Digital <br> Printing</h1>
            <p>
              Dinamika Digital Printing adalah usaha percetakan yang ada di desa Wringinrejo kecatamatan Gambiran. Usaha dibidang IT ini sangat diperlukan pada era sekarang. Usaha percetakan ini menyediakan berbagai macam jasa. Untuk melihat jasa apa yang disediakan silahkan klik tombol di bawah!
            </p>
            <a href="#jasa">
              <button class="btn btn-danger text-uppercase">Lihat Jasa!</button>
            </a>
          </div>
          <div class="col-sm-6">
            <img src="{{url_for('static', filename = 'images/bg-home.png')}}" alt="" class="d-block w-100">
          </div>
        </div>
      </div>
    </div>

    <!-- titleService -->
    <section class="py-5 text-center container mt-5" id="jasa">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Jasa-jasa Dinamika Digital Printing</h1>
          <p class="lead text-muted">berikut ini adalah macam-macam jasa yang Dinamika Digital Printing sediakan:)</p>
        </div>
      </div>
    </section>
    <!-- titleService end -->

    <!-- card -->
    <div class="container margin-card">
      <div class="row">
        <div class="card col-sm-6 p-2 border-0">
          <img src="{{url_for('static', filename = 'images/jasaKetik.webp')}}" class="card-img-top rounded" alt="...">
          <div class="card-body">
            <h5 class="card-title">Jasa Pengetikan</h5>
            <p class="card-text">Di dalam jasa pengetikan, antara lain: jasa pengetikan makalah, jasa pengetikan skripsi, jasa pengetikan laporan, dan banyak lagi.</p>
            <button class="btn btn-danger" id="ketikBtn" onclick="detailPopup()">Lihat Detail Jasa!</button>
          </div>
        </div>
        <div class="card col-sm-6 p-2 border-0">
          <img src="{{url_for('static', filename = 'images/jasaPrint.webp')}}" class="card-img-top rounded" alt="...">
          <div class="card-body">
            <h5 class="card-title">Jasa Printing</h5>
            <p class="card-text">Jasa Printing atau juga disebut jasa percetakan, dalam hal ini kami mencetak berbagai dokumen berskala kecil.</p>
            <button class="btn btn-danger" id="printBtn" onclick="detailPopup()">Lihat Detail Jasa!</button>
          </div>
        </div>
        <div class="card col-sm-6 p-2 border-0">
          <img src="{{url_for('static', filename = 'images/jasaFc.webp')}}" class="card-img-top rounded" alt="...">
          <div class="card-body">
            <h5 class="card-title">Jasa Fotokopi</h5>
            <p class="card-text">Fotokopi adalah mencetak dokumen yang bersifat duplikat atau ganda. Dalam Hal ini kami menggandakan dokumen.</p>
            <button class="btn btn-danger" id="fcBtn" onclick="detailPopup()">Lihat Detail Jasa!</button>
          </div>
        </div>
        <div class="card col-sm-6 p-2 border-0">
          <img src="{{url_for('static', filename = 'images/jasaBanner.webp')}}" class="card-img-top rounded" alt="...">
          <div class="card-body">
            <h5 class="card-title">Jasa Cetak Banner</h5>
            <p class="card-text">Jasa yang satu ini adalah jasa percetakan berskala besar. Percetakan ini mementingkan ukuran daripada kualitas gambar.</p>
            <button class="btn btn-danger" id="cbBtn" onclick="detailPopup()">Lihat Detail Jasa!</button>
          </div>
        </div>
      </div>
    </div>
    <!-- card-end -->

    <!-- detailKetik -->
    <section class="detailCard" id="detailCard">
      <div class="detailCardWrapper">
        <h1 id="titleDetailJasa" class="text-center mt-2">Jasa Pengetikan</h1>
        <!-- slide -->
        <div class="container w-50 mt-3">
          <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{{url_for('static', filename = 'images/1.jpg')}}" class="d-block w-100 rounded" alt="..." id="imgSlide1">
              </div>
              <div class="carousel-item">
                <img src="{{url_for('static', filename = 'images/2.jpg')}}" class="d-block w-100 rounded" alt="..." id="imgSlide2">
              </div>
              <div class="carousel-item">
                <img src="{{url_for('static', filename = 'images/3.jpg')}}" class="d-block w-100 rounded" alt="..." id="imgSlide3">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <!-- slideEnd -->

        <!-- paragraph -->
        <div class="container mt-3 overflow-auto pargrph">
          <p class="text-indent" id="textP1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio commodi assumenda voluptas vel, dolor blanditiis in aspernatur sunt, natus doloremque alias ut ratione minus reprehenderit eligendi rerum magnam minima sed eum corrupti id illo. Culpa eveniet amet laboriosam explicabo? Distinctio aperiam, atque ullam autem voluptas reiciendis maiores sapiente ipsum voluptatibus!</p>
          <p class="text-indent" id="textP2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio commodi assumenda voluptas vel, dolor blanditiis in aspernatur sunt, natus doloremque alias ut ratione minus reprehenderit eligendi rerum magnam minima sed eum corrupti id illo. Culpa eveniet amet laboriosam explicabo? Distinctio aperiam, atque ullam autem voluptas reiciendis maiores sapiente ipsum voluptatibus!</p>
          <p class="text-indent" id="textP3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio commodi assumenda voluptas vel, dolor blanditiis in aspernatur sunt, natus doloremque alias ut ratione minus reprehenderit eligendi rerum magnam minima sed eum corrupti id illo. Culpa eveniet amet laboriosam explicabo? Distinctio aperiam, atque ullam autem voluptas reiciendis maiores sapiente ipsum voluptatibus!</p>
        </div>
        <!-- paragraphEnd -->
        <div class="w-100 d-flex justify-content-center align-items-center py-3">
          <button class="btn btn-danger" id="closePopDetailBtn">CLOSE!</button>
        </div>
      </div>
    </section>
    <!-- detailKetikEnd -->

   
    <!-- pegawaiTitle -->
    <section class="py-5 text-center container mt-5" id="contact">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Pegawai dan Owner Toko Kami</h1>
          <p class="lead text-muted">Berikut ini adalah informasi dan data diri dari pegawai dan owner toko kami</p>
        </div>
      </div>
    </section>
    <!-- pegawaiTitleEnd -->

    <!-- pegawaiCard -->
    <section class="">
      <div class="album py-5">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <img src="{{url_for('static', filename = 'images/1.jpg')}}" alt="" class="rounded-top">
                <div class="card-body">
                  <h5>Moch. Ramzi Daffa Putra</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-center align-items-center">
                    <a href="" class="text-dark btn">
                      <i class="fa-brands fa-facebook fs-3"></i>
                    </a>
                    <a href="" class="text-dark btn">
                      <i class="fa-brands fa-instagram fs-3"></i>
                    </a>
                    <a href="" class="text-dark btn">
                      <i class="fa-solid fa-envelope fs-3"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="{{url_for('static', filename = 'images/1.jpg')}}" alt="" class="rounded-top">
                <div class="card-body">
                  <h5>Moch. Rafael Sebastian</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-center align-items-center">
                    <a href="" class="text-dark btn">
                      <i class="fa-brands fa-facebook fs-3"></i>
                    </a>
                    <a href="" class="text-dark btn">
                      <i class="fa-brands fa-instagram fs-3"></i>
                    </a>
                    <a href="" class="text-dark btn">
                      <i class="fa-solid fa-envelope fs-3"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="{{url_for('static', filename = 'images/1.jpg')}}" alt="" class="rounded-top">
                <div class="card-body">
                  <h5>Lailatul Mubarokah</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-center align-items-center">
                    <a href="" class="text-dark btn">
                      <i class="fa-brands fa-facebook fs-3"></i>
                    </a>
                    <a href="" class="text-dark btn">
                      <i class="fa-brands fa-instagram fs-3"></i>
                    </a>
                    <a href="" class="text-dark btn">
                      <i class="fa-solid fa-envelope fs-3"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container py-5 py-sm-2 ">
        <div class="row g-3">
          <div class="card col-sm-6 border-0">
            <img src="{{url_for('static', filename = 'images/1.jpg')}}" alt="" class="w-100 rounded">
          </div>
          <div class="col-sm-6 border-0">
            <div class="card-body">
              <h4 class="card-title pb-3">Mismi Marhamah RM, M.Pd</h4>
              <p class="card-text">Dalam toko kami, Mismi Marhamah RM, M.Pd adalah sebagai Owner. Mengawasi pekerjaan dan me-manage toko kami.</p>
              <div class="d-flex justify-content-start align-items-center pt-3">
                <a href="" class="text-dark btn">
                  <i class="fa-brands fa-facebook fs-3"></i>
                </a>
                <a href="" class="text-dark btn">
                  <i class="fa-brands fa-instagram fs-3"></i>
                </a>
                <a href="" class="text-dark btn">
                  <i class="fa-solid fa-envelope fs-3"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </section>
    <!-- pegawaiCardEnd -->

    <!-- slide -->
    <div class="container mt-5">
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{url_for('static', filename = 'images/1.jpg')}}" class="d-block w-100 rounded" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>First slide label</h5>
              <p>Some representative placeholder content for the first slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{{url_for('static', filename = 'images/2.jpg')}}" class="d-block w-100 rounded" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>First slide label</h5>
              <p>Some representative placeholder content for the first slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{{url_for('static', filename = 'images/3.jpg')}}" class="d-block w-100 rounded" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>First slide label</h5>
              <p>Some representative placeholder content for the first slide.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <!-- slide-end -->


    <!-- contact&maps -->
    <section class="py-5 text-center container mt-5">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Maps</h1>
          <p class="lead text-muted">detail lokasi toko dan kontak nomor telepon</p>
        </div>
      </div>
    </section>

    <div class="container">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3947.2294227446805!2d114.17755591486699!3d-8.379080193973303!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd155b1ba0fd13f%3A0xb06a7e96d8b26920!2sUD%20DINAMIKA%20RAYA%20FOTOCOPY!5e0!3m2!1sen!2sid!4v1669108667292!5m2!1sen!2sid"style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-100 vh-100 rounded"></iframe>
    </div>
    <!-- contact&mapsEnd -->

    

    <!-- loginForm -->
    <section class="loginForm d-flex justify-content-center align-items-center position-fixed" id="logWrap">
      <div class="container d-flex justify-content-center bg-dark rounded shadow flex-column align-items-center logWrap" >
        <p class="fs-3 text-white">{{err}}</p>
        <img class="" src="images/iconDinamika.png" alt="" width="150" height="100">
        <form class="w-75" method="post" action="/">
          <h1 class="h3 fw-normal text-white mt-4 mb-4 text-center">Please sign in</h1>
          <div class="form-floating mb-3 w-75 m-auto">
            <input type="text" class="form-control" id="floatingInput" placeholder="enter a Username" name="username" required>
            <label for="floatingInput">Username</label>
          </div>
          <div class="form-floating mb-3 w-75 m-auto">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" required>
            <label for="floatingPassword">Password</label>
          </div>
          <div class="text-center">
            <button class="btn btn-lg btn-danger w-auto fs-3 text-uppercase" type="submit">Sign in</button>
          </div>
          <p class="mt-5 text-muted text-center">&copy; 2017-2022</p>
        </form>
        <button class="btn bg-danger btn-close closeBtn" id="close"></button>
      </div>
    </section>
    <!-- loginFormEnd -->


    <!-- footer -->

    <div class="container">
      <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="/#home" class="nav-link px-2 text-muted">Home</a></li>
          <li class="nav-item"><a href="/#jasa" class="nav-link px-2 text-muted">Services</a></li>
          <li class="nav-item"><a href="/#contact" class="nav-link px-2 text-muted">Contact</a></li>
          <li class="nav-item"><a href="/stock" class="nav-link px-2 text-muted">Stock</a></li>
          <li class="nav-item"><a href="/recap" class="nav-link px-2 text-muted">Recap</a></li>
        </ul>
        <p class="text-center text-muted">&copy; 2022 Dinamika Digital Printing</p>
      </footer>
    </div>

    <div class="b-example-divider"></div>
    <!-- footer end -->
</body>

</html>