<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dinamika WebApp</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="{{url_for('static', filename = 'bootstrap/css/bootstrap.min.css')}}">
    <script src="{{url_for('static', filename = 'bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
    <script src="https://kit.fontawesome.com/9f19fe83e1.js" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename = 'main.js')}}"></script>
</head>

<body>
    <header id="home">
        <nav class="navbar navbar-dark bg-dark fixed-top" aria-label="Dark offcanvas navbar">
            <div class="container-fluid d-flex justify-content-between">
                <div>
                    <a class="navbar-brand fs-3" href="/">Dinamika WebApp</a>
                </div>
                <div class="btnLog d-flex justify-content-between">
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark" aria-controls="offcanvasNavbarDark">
                <span class="navbar-toggler-icon"></span>
              </button>
                    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel">Dinamika WebApp</h5>
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/#contact">Contact</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/#jasa">Service</a>
                                </li>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="/stock">Stock</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Recap Data</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/recap">Recap Data Harian</a></li>
                                        <li><a class="dropdown-item" href="/recap#minggu">Recap Data Mingguan</a></li>
                                        <li><a class="dropdown-item" href="/recap#bulan">Recap Data Bulanan</a></li>
                                        <li><a class="dropdown-item" href="/recap#tahun">Recap Data Tahunan</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="#">View Recap All Data</a></li>
                                    </ul>
                                    <li class="nav-item">
                                        <div class="login-icon-dropdown" id="lgnBtn">
                                            <a href="{{url_for('logout')}}">
                                                <button class="btn w-auto h-75 btn-outline-success  border-0 rounded-2 pe-2 ps-2 pt-1 pb-1 fs-5 text-uppercase fw-bold">
                                                    <i class="fa-solid fa-right-to-bracket" ></i>
                                                    Logout
                                                </button>
                                            </a>
                                        </div>
                                    </li>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="login-icon-col ms-3">
                        <a href="{{url_for('logout')}}">
                            <button class="btn w-100 h-75 btn-outline-success  border-0 rounded-2 pe-2 ps-2 pt-1 pb-1 fs-5 text-uppercase fw-bold"><i class="fa-solid fa-right-to-bracket"></i> logout</button>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <section>
        <div class="container margin-form">

            <div class="title  mb-lg-5 mb-md-5 w-100 d-flex justify-content-between align-items-center">
                <h1 class="card-title">Stock Barang</h1>
                <a href="#inputStock">
                    <button class="btn btn-success fs-6">Add Stock</button>
                </a>
            </div>

            <div class="scrollAble table-responsive">
                <table class="table table-hover text-center">
                    <thead class="sticky-top text-bg-dark">
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Kode Barang</th>
                            <th scope="col">Nama Barang</th>
                            <th scope="col">Harga Barang</th>
                            <th scope="col">Jumlah Barang</th>
                            <th scope="col">Tanggal Input</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in data %}
                        <tr>
                            <th scope="row">{{row[0]}}</th>
                            <td>{{row[1]}}</td>
                            <td>{{row[2]}}</td>
                            <td>Rp. {{row[3]}}</td>
                            <td>{{row[4]}}</td>
                            <td>{{row[5]}}</td>
                            <td>
                                <button class="btn btn-success btn-sm edit-stock">Edit </button>
                                <a href="/delStockBrg/{{row[0]}}">
                                    <button class="btn btn-danger btn-sm">Delete</button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
            </div>
            </table>
        </div>
    </section>
    {% if logout %}
    <!-- inputStockLogout -->
    <section class="formInputStock" id="inputStock">
        <div class="container">
            <div class="col-sm5">
                <h1>Input Stock Barang</h1>
                <form action="/stock" method="post" class="mt-sm-5">
                    <table class="table table-borderless">
                        <tr>
                            <td>Kode Barang</td>
                            <td>:</td>
                            <td>
                                <input type="text" class="form-control" name="kodeBrg" disabled>
                            </td>
                        </tr>
                        <tr>
                            <td>Nama Barang</td>
                            <td>:</td>
                            <td>
                                <input type="text" class="form-control" name="namaBrg" disabled>
                            </td>
                        </tr>
                        <tr>
                            <td>Harga Barang</td>
                            <td>:</td>
                            <td>
                                <input type="number" class="form-control" name="hargaBrg" disabled>
                            </td>
                        </tr>
                        <tr>
                            <td>Jumlah Barang</td>
                            <td>:</td>
                            <td>
                                <input type="number" class="form-control" name="jumlahBrg" disabled>
                            </td>
                        </tr>
                    </table>
                    <div class="buttonFormStock">
                        <button class="btn btn-success btn-lg" type="submit">SUBMIT!</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <!-- editStockLogout -->
    <section class="formInputStock" id="editStock">
        <div class="container">
            <div class="col-sm5">
                <h1>Edit Stock Barang</h1>
                <form action="#" method="post" class="mt-sm-5" id="form-edit">
                    <table class="table table-borderless">
                        <tr>
                            <td>
                                <input type="hidden" name="id" class="form-control" required>
                            </td>
                        </tr>
                        <tr>
                            <td>Kode Barang</td>
                            <td>:</td>
                            <td>
                                <input type="text" class="form-control" id="kode" name="kodeBrg" required>
                            </td>
                        </tr>
                        <tr>
                            <td>Nama Barang</td>
                            <td>:</td>
                            <td>
                                <input type="text" class="form-control" id="nama" name="namaBrg" required>
                            </td>
                        </tr>
                        <tr>
                            <td>Harga Barang</td>
                            <td>:</td>
                            <td>
                                <input type="text" class="form-control" id="harga" name="hargaBrg" required>
                            </td>
                        </tr>
                        <tr>
                            <td>Jumlah Barang</td>
                            <td>:</td>
                            <td>
                                <input type="text" class="form-control" id="jumlah" name="jumlahBrg" required>
                            </td>
                        </tr>
                    </table>
                    <div class="buttonFormStock">
                        <button class="btn btn-success btn-lg" type="submit">SUBMIT!</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    {% else %}
    <!-- inputStockLogin -->
    <section class="formInputStock" id="inputStock">
        <div class="container">
            <div class="col-sm5">
                <h1>Input Stock Barang</h1>
                <form action="/stock" method="post" class="mt-sm-5">
                    <table class="table table-borderless">
                        <tr>
                            <td>Kode Barang</td>
                            <td>:</td>
                            <td>
                                <input type="text" class="form-control" name="kodeBrg" required>
                            </td>
                        </tr>
                        <tr>
                            <td>Nama Barang</td>
                            <td>:</td>
                            <td>
                                <input type="text" class="form-control" name="namaBrg" required>
                            </td>
                        </tr>
                        <tr>
                            <td>Harga Barang</td>
                            <td>:</td>
                            <td>
                                <input type="number" class="form-control" name="hargaBrg" required>
                            </td>
                        </tr>
                        <tr>
                            <td>Jumlah Barang</td>
                            <td>:</td>
                            <td>
                                <input type="number" class="form-control" name="jumlahBrg" required>
                            </td>
                        </tr>
                    </table>
                    <div class="buttonFormStock">
                        <button class="btn btn-success btn-lg" type="submit">SUBMIT!</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <!-- editStockLogin -->
    <section class="formInputStock" id="editStock">
        <div class="container">
            <div class="col-sm5">
                <h1>Edit Stock Barang</h1>
                <form action="#" method="post" class="mt-sm-5" id="form-edit">
                    <table class="table table-borderless">
                        <tr>
                            <td>
                                <input type="hidden" name="id" class="form-control" required>
                            </td>
                        </tr>
                        <tr>
                            <td>Kode Barang</td>
                            <td>:</td>
                            <td>
                                <input type="text" class="form-control" id="kode" name="kodeBrg" required>
                            </td>
                        </tr>
                        <tr>
                            <td>Nama Barang</td>
                            <td>:</td>
                            <td>
                                <input type="text" class="form-control" id="nama" name="namaBrg" required>
                            </td>
                        </tr>
                        <tr>
                            <td>Harga Barang</td>
                            <td>:</td>
                            <td>
                                <input type="text" class="form-control" id="harga" name="hargaBrg" required>
                            </td>
                        </tr>
                        <tr>
                            <td>Jumlah Barang</td>
                            <td>:</td>
                            <td>
                                <input type="text" class="form-control" id="jumlah" name="jumlahBrg"required>
                            </td>
                        </tr>
                    </table>
                    <div class="buttonFormStock">
                        <button class="btn btn-success btn-lg" type="submit">SUBMIT!</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    {% endif %}


    <!-- loginFormEnd -->
    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
                <li class="nav-item"><a href="/#jasa" class="nav-link px-2 text-muted">Services</a></li>
                <li class="nav-item"><a href="/#contact" class="nav-link px-2 text-muted">Contact</a></li>
                <li class="nav-item"><a href="{{url_for('stock')}}" class="nav-link px-2 text-muted">Stock</a></li>
                <li class="nav-item"><a href="/recap" class="nav-link px-2 text-muted">Recap</a></li>
            </ul>
            <p class="text-center text-muted">&copy; 2022 Dinamika Digital Printing</p>
        </footer>
    </div>
</body>

</html>